/* Css variables */
:root {
  --primary-color: #2d1967;
  --gray-color: #707070;
  --blue-color: #4c6ef7;
  --table-text-color: #8791b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Global styles and components classses */
a {
  text-decoration: none;
}

/* p,a {
  color: var(--gray-color)
} */

.error {
  text-align: left !important;
  color: red;
  margin-bottom: 10px;
  margin-top: 5px;
}
